<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>

    <div id="title">
        <h1>হাতেখড়ি</h1>
    </div>
    <div id="main">
        <div class="container">

            <a href="/prediction" class="button">Let's Learn</a>
            <a href="/instruction" class="button">Instructions</a>
        </div>
    </div>
</body>

</html>